body {
  max-width: 960px;
  margin: auto;
}
button { -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 color: #FFFFFF;
 font-family: Tahoma;
 font-size: 30px;
 font-weight: 800;
 padding: 20px;
 background-color: #F63D7A;
 -webkit-box-shadow: 1px 1px 20px 0 #000000;
 -moz-box-shadow: 1px 1px 20px 0 #000000;
 box-shadow: 1px 1px 20px 0 #000000;
 text-shadow: 1px 1px 20px #000000;
 border: solid #0059A0 1px;
 cursor: pointer;

}
.mainText {
  margin-top: 40px;
  text-align: center;
}
.food {
  width: 10%;
}
p {
  padding: 20px;
  font-size: 30px;
}
.btn {
  position: relative;
  width: 100%;
  left: 41%;
  margin-top: 40px;
}
#order {
  text-align: center;
}
